* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  
}

span {
  font-weight: bolder;
}
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  background-color: rgb(120, 115, 210);
  color: white;

  padding: 3em 0.5em;
}
li,
ol {
  list-style-type: none;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: rgb(120, 115, 210);
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  background-color: rgb(54, 53, 95);
}
.traffic-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.traffic-nav-link {
  font-size: 1rem;
  padding: .9em 3em;
  vertical-align: middle;
  border-radius: 5em;
  cursor: pointer;
}
.traffic-nav-link.active {
  color: #fff;
  background-color: #7ec186;
}
nav img {
  width: 40%;
  padding: 1em 0;
}
h3,
h2 {
  margin: 2em 0 2em 0;
}
span {
  border: 0.1px solid white;
  height: 2.9rem;
}
.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header-wrapper,
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bell-icon {
  width: 20%;
  padding-right: 0.5rem;
  margin-right: .4em;
  padding: 1em;
}
.bell-icon:hover  {
  background-color: #7ec186;
  border-radius: 1em;
  border: solid 1px;
  padding: 1em;
  
}

.profile-picture {
  width: 30%;
  border-radius: 2rem;
  margin-right: 1em;
}
/** HEADER END **/

/* Mobile responsive */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
.header-container {
  grid-area: header;
}
.navigation {
  grid-area: navigation;
}
.main-container {
  grid-area: main;
}

.main-header {
  display: flex;
  flex-direction: row;
}
.headline {
  width: 50%;
}
.tab {
  border: 2px solid gray;
  background-color: rgb(241, 241, 241);
  margin-left: 0.5em;
  width: 70%;
}
.alert {
  display: flex;
  padding: .3em;
  margin: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #7477BF;
  border-radius: .2em;
  color: #fff;

}
.alert-banner {
  display: flex;
  flex-direction: row;
}
.alert-banner-close {
  padding-left: 1em;
  font-weight: bold;
  cursor: pointer;
}

.traffic {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.traffic-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.daily,
.mobile {
  margin: 2em 0 2em 0;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  
}
.social-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  border: solid 0.3px black;

  background-color: lightgray;
  padding: 1em;
  margin: .1em;
}
.social-image {
  width: 10%;
  fill: #fff;
  background-color: rgb(120, 115, 210);
  border-radius: 200px;
  padding: 1.6em;
  margin: 1em;
  overflow: hidden;
}
.social-image {
  width: 100px;
}

.social-text p:first-child {
  color: rgb(120, 115, 210);
}
.social-stats {
  font-size: 2.5em;
}

.traffic, .daily, .mobile {
  border-bottom: solid 1px rgb(181, 180, 180);;
}

.members-container {
  border-bottom: solid 1px rgb(181, 180, 180);;

}
.members, .members-activity {
  border-top: solid 1px rgb(181, 180, 180);
}
.members-container,
.members-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-image {
  width: 20%;
  border-radius: 200px;
}
.members-text {
  padding: 0.5em;
  margin: 1em;
}

.message,
.settings {
  display: flex;
  flex-direction: column;

  padding: 2em;
}
.widget-container {
  display: flex;
  flex-direction: column;
}
.form-field {
  border-radius: 5px;
  border: solid 0.4px;
  padding: 1em;
  background-color: rgb(235, 235, 235);
}

.form-area {
  margin-top: 1em;
  border: solid 0.4px;
  color: black;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 10em;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.settings-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-primary {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(120, 115, 210);
  font-size: 1.2em;
  color: #fff;
  margin-right: 0.3em;
  border-radius: 5px;
  width: 100%;
}
.settings-primary {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(120, 115, 210);
  font-size: 1.2em;
  color: #fff;
  margin-right: 0.3em;
  border-radius: 5px;
  width: 50%;
}
.button-disabled {
  margin-top: 1em;
  padding: 1em;
  margin-left: 0.3em;
  font-size: 1.2em;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  background-color: gray;
}

.widget-container-full, .widget-container-half {
  width: 90vw;
  }


  @media (min-width: 762px) {
    .grid-container {
      grid-template-columns: 50px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";
    }
    
    .main {
      display: grid;
      grid-template-columns: 60%;
    }
    .traffic,
    .social {
      grid-column: 1 / span 2;
    
    }
    .social {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
  
      
    }
    .social-image {
      width: 10px;
    }
    .social-icon {
      width: 5%;
    }
    .profile-image {
      width: 10%;
    }
    .members{
      border-right: solid 1px black;
    }
  .members, .message, .settings, .members-activity {

    grid-column: 1/ span 2;
  }

    .members-container {
      display: flex;
       flex-direction: row;
    
      
    }
    .members-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   
     
    }
    
    .header {
      grid-column: 1 / span 2;
    }
    .alert {
      grid-column: 1 / span 2;
    }
  
  .traffic-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
    .headline {
      width:20%;
    }
    .main-header {
      grid-column: 1/ span 2;
    }
    .navigation {
      grid-column: 1 / span 1 ;
      display: flex;
      align-items:flex-start;
      justify-content: flex-start;
      flex-direction:column;
      
    }
  

    
    .widget-container-full {
      width: 90vw;
      }
      .widget-container-half {
      width: 20vw;
      }
    
  
  
  }
    
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 65px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  
  .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  
  }
  .social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    
  }
  
  .social-image {
     width: 100px;

  }
  .members{
    border-right: solid 1px black;
  }

  .daily,
  .members,
  .message
  .members-activity {
    grid-column: 1 / span 1;
  }
  .mobile,
  .members-activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .header {
    grid-column: 1/ span 4;
  }
  .alert {
    grid-column: 1 / span 2;
  }

.traffic-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

  .headline {
    width: 20%;
  }
  .main-header {
    grid-column: 1/ span 2;
  }
  .navigation {
    grid-column: 1 / span 3 ;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction:column;
    
  }

  
  .widget-container-full {
    width: 90vw;
    }
    .widget-container-half {
    width: 45vw;
    }
  

}


.toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}


.toggle-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 100px; 
  height: 40px;
  margin: .5em;
  border-radius: 25px;
  background-color: #ccc;
  cursor: pointer;
  transition: background 1s;
  outline: none;
  padding-left: 20px;
} .toggle-checkbox::after {
  content: '';
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transition: left .3s;
  border-radius: 50%;
  transform: translate(-50%, -50%);
} .toggle-checkbox:checked {
  background-color: #7477BF;
} .toggle-checkbox:checked::after {
  left: 85%;
}
