* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  background-color: rgb(120, 115, 210);
  color: white;
}
li,
ol {
  list-style-type: none;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: rgb(120, 115, 210);
  width: 20%;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  background-color: rgb(54, 53, 95);
  height: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.traffic-header {
  display: flex;
  flex-direction: column;
}
.traffic-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
 
}

.traffic-nav-link.active {
  color: #fff;
  background-color: #7ec186;
  border-radius: 1em;
  padding: 0.1em 0.5em;
}
.traffic-nav-link {
  padding-left: .4em;
  padding-right: .4em;
}

nav img {
  width: 40%;
  padding: 1em 0;
}
.web {
  padding-left: .2em;
  width: 60%;
}
h2,
h3 {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
span {
  border: 0.1px solid rgb(195, 195, 195);
  height: 2.9rem;
}
.social {
  padding-bottom: 1em;
  border-bottom: 0.1px solid rgb(195, 195, 195);
}
.character {
  display: none;
}
.activity {
  font-size: 1.1em;
  font-weight: bolder;
}
.header-wrapper,
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bell-span {
  background-color: #7ec186;
  height: .5em;
  width: .5em;
  border-radius: 20px;
  margin-right: .5em;
  margin-bottom: 1em;
  padding: .06em;

}
.bell-icon {
margin-left: 1em;
height:20px;
width: 20px;
}
.bell-icon:hover {
  transform: scale(1.4);
  transition-duration: .4s;
}

.profile-picture {
  width: 20%;
  border-radius: 2rem;
  margin-right: 1em;
}
/** HEADER END **/

/* Mobile responsive */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
.header-container {
  grid-area: header;
}
.navigation {
  grid-area: navigation;
}
.main-container {
  grid-area: main;
}

.main-header {
  display: flex;
  flex-direction: row;
}
.headline {
  width: 50%;
}
.tab {
  border: 2px solid gray;
  background-color: rgb(241, 241, 241);
  margin-left: 0.5em;
  width: 70%;
}
.alert {
  display: flex;
  padding: 0.6em;
  margin-left: 0.6em;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #7477bf;
  border-radius: 0.4em;
  color: #fff;
}
.alert-banner {
  display: flex;
  flex-direction: row;
}
.alert-banner-close {
  padding-left: 1em;
  font-weight: bold;
  cursor: pointer;
}

.traffic {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.traffic-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.daily,
.mobile {
  margin: 2em 0 2em 0;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  border: solid 0.3px black;

  background-color: lightgray;
  padding: 1em;
  margin: 0.1em;
}
.social-image {
  width: 15%;
  fill: #fff;
  background-color: rgb(120, 115, 210);
  border-radius: 200px;
  padding: 1em;
  margin: 0.4em;
  overflow: hidden;
}
.social-image {
  width: 50px;
}

.social-text p:first-child {
  color: rgb(120, 115, 210);
}
.social-stats {
  font-size: 1.9em;
}

.traffic,
.daily,
.mobile {
  border-bottom: solid 1px rgb(181, 180, 180);
}

.members-container {
  border-bottom: solid 1px rgb(181, 180, 180);
}
.members,
.members-activity {
  border-top: solid 1px rgb(181, 180, 180);
}
.members-container,
.members-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 20%;
  border-radius: 200px;
}
.members-text {
  padding: 0.5em;
  margin: 1em;
}

.message,
.settings {
  display: flex;
  flex-direction: column;

  padding: 2em;
}
.widget-container {
  display: flex;
  flex-direction: column;
}
.form-field {
  border-radius: 5px;
  border: solid 0.4px;
  padding: 1em;
  background-color: rgb(235, 235, 235);
}

.form-area {
  margin-top: 1em;
  border: solid 0.4px;
  color: black;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 10em;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.settings-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-primary {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(120, 115, 210);
  font-size: 1.2em;
  color: #fff;
  margin-right: 0.3em;
  border-radius: 5px;
  width: 100%;
}
.settings-primary {
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(120, 115, 210);
  font-size: 1.2em;
  color: #fff;
  margin-right: 0.3em;
  border-radius: 5px;
  width: 50%;
}
.button-disabled {
  margin-top: 1em;
  padding: 1em;
  margin-left: 0.3em;
  font-size: 1.2em;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  background-color: gray;
}

.widget-container-full,
.widget-container-half {
  width: 90vw;
}

/* Medium */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 50px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  a {
    width: 100%;
  }

  .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .social-image {
    width: 80px;
  }
  .social-icon {
    width: 5%;
  }
  .profile-image {
    width: 10%;
  }
  .settings, .message {
    margin-bottom: auto;
    height: 100%;
  }
  .form-field, .settings-button {
    margin-top: auto;
  }
  .members {
    border-right: solid 1px rgb(181, 180, 180);
  }
  .members,
  .message,
  .settings,
  .members-activity {
    grid-column: 1 / span 2;
  }
  .form-field, .settings-button {
    margin-top: auto;
   
  }
  .settings {
    border-left: solid 1px rgb(181, 180, 180);
  }
 

  .members-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 1em;
  }
  .members-text {
    display: flex;
    margin-right: auto;
  }
  .character {
    display: flex;
    padding-right: 0.9em;
    cursor: pointer;
  }
  .name {
    margin-right: auto;
  }
  .date {
    margin-left: auto;
    padding-right: 1em;
  }
  .hours {
    margin-right: auto;
  }

  .header {
    grid-column: 1 / span 2;
  }
  .alert {
    grid-column: 1 / span 2;
  }
  .daily {
    border-right: solid 1px rgb(181, 180, 180);
  }

  .traffic-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .headline {
    width: 20%;
  }
  .main-header {
    grid-column: 1 / span 2;
  }
  .navigation {
    grid-column: 1 / span 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 30vw;
  }
}

/* Large */

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 65px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .social-image {
    width: 100px;
  }
  .members {
    border-right: solid 1px rgb(181, 180, 180);
  }
  .members-container {
    height: 20%;
  }

  .message {
    grid-column: 1 / span 1;
  }
  .settings {
    margin-top: auto;
    grid-column: 2 / span 2;
  }
  .daily,
  .members,
  .members-activity {
    grid-column: 1 / span 1;
  }

  .mobile,
  .members-activity {
    grid-column: 2 / span 1;
  }
  .header {
    grid-column: 1 / span 4;
  }
  .alert {
    grid-column: 1 / span 2;
  }

  .traffic-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .headline {
    width: 20%;
  }
  .main-header {
    grid-column: 1 / span 2;
  }
  .navigation {
    grid-column: 1 / span 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

}
.toggle {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.toggle label {
  flex-basis: 210px;
}


.toggle-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 100px;
  height: 40px;
  margin: 0.5em;
  border-radius: 25px;
  background-color: #ccc;
  cursor: pointer;
  transition: background 1s;
  outline: none;
  padding-left: 20px;
  

 
}
.toggle-checkbox::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transition: left 0.3s;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.toggle-checkbox:checked {
  background-color: #7477bf;
}
.toggle-checkbox:checked::after {
  left: 85%;
}
